body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #000;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
}

.top-bar .contact-info span {
    margin-right: 10px;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.get-quote-btn {
    background-color: #d9534f;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    text-decoration: none;
}

.get-quote-btn:hover {
    background-color: #c9302c;
}

.wide-image {
    width: 400%;
    height: 100vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.image-container {
    width: 400%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.video-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.video-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.video-frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card .card-title {
    font-size: 1.2rem;
}

.stat-card {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.row.g-4 {
    margin-bottom: 20px;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ddd;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
}

.navbar-nav {
    flex: 1;
    justify-content: flex-end;
}